$max-width: 1100px;
$border-radius: 2px;
$font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono", "Roboto Mono", "Oxygen Mono",
  "Ubuntu Monospace", "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

$callout-rgb: 238, 240, 241, 0;
$callout-border-rgb: 172, 175, 176;
$card-rgb: 180, 185, 188, 0;
$card-border-rgb: 131, 134, 135;

.header,
.footer {
  padding: 2rem;
  position: sticky;
  background-color: #251f21;
  color: #ffffff;
  height: 15vh;
  width: 100vw;
}

.header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.PageGirdContainer {
  min-height: 90vh;
  display: grid;
  grid-template-columns: 20% 1fr;
  padding: 6rem;
  gap: 2rem;
}

.sideBar {
  display: flex;
  flex-direction: column;
  justify-items: center;
  background-color: #0000001a;
  padding: 2rem;
  border-radius: $border-radius;
  .li {
    padding: 1rem 0;
  }
}

.navBar {
  display: flex;
  padding: 1rem;
  li {
    padding: 0 1rem;
    font-weight: 100;
  }
}

.shoppingCart {
  cursor: default;
  position: relative;
  padding: 1rem;
  // height: 100%;
  .cartList {
    border-radius: $border-radius;
    padding: 2rem;
    position: absolute;
    top: 3rem;
    right: 0rem;
    width: max-content;
    background-color: rgb(147, 149, 151);
    color: #ffffff;
    font-weight: 500;
    display: none;
    // transition: all 0.2s;
  }
  &:hover .cartList{
    display: flex;
    flex-direction: column;
    .cartItem{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem 0;
    }
    button {
      margin-left: auto;
    }
  }
}

.productDetail {
  display: grid;
  grid-template: 3rem auto 3rem 3rem 3rem/ 1fr 1fr;
  align-items: center;
  .desc {
    width: 75%;
  }
  button {
    width: 25%;
  }
}

.productImage {
  grid-row-start: 1;
  grid-row-end: 6;
}

.productsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  /* width: $max-width; */
  gap: 1rem;
  max-width: 100%;
}

.card {
  padding: 1rem 1.2rem;
  border-radius: $border-radius;
  // background: rgba($card-rgb);
  // border: 1px solid rgba($card-border-rgb, 0);
  transition: background 200ms, border 200ms;
  span {
    display: inline-block;
    transition: transform 200ms;
  }
  h2 {
    font-weight: 600;
    margin-bottom: 0.7rem;
  }
  p {
    margin: 0;
    opacity: 0.6;
    font-size: 0.9rem;
    line-height: 1.5;
    max-width: 30ch;
  }
}

// /* Mobile */
// @media (max-width: 700px) {
//   .content {
//     padding: 4rem;
//   }

//   .grid {
//     grid-template-columns: 1fr;
//     margin-bottom: 120px;
//     max-width: 320px;
//     text-align: center;
//   }

//   .card {
//     padding: 1rem 2.5rem;
//   }

//   .card h2 {
//     margin-bottom: 0.5rem;
//   }

//   .description {
//     font-size: 0.8rem;
//   }

//   .description a {
//     padding: 1rem;
//   }

//   .description p,
//   .description div {
//     display: flex;
//     justify-content: center;
//     position: fixed;
//     width: 100%;
//   }

//   .description p {
//     align-items: center;
//     inset: 0 0 auto;
//     padding: 2rem 1rem 1.4rem;
//     border-radius: 0;
//     border: none;
//     border-bottom: 1px solid rgba($callout-border-rgb), 0.25;
//     background: linear-gradient(to bottom, rgba($background-start-rgb), 1), rgba($callout-rgb, 0.5);
//     background-clip: padding-box;
//     backdrop-filter: blur(24px);
//   }

//   .description div {
//     align-items: flex-end;
//     pointer-events: none;
//     inset: auto 0 0;
//     padding: 2rem;
//     height: 200px;
//     background: linear-gradient(to bottom, transparent 0%, rgb($background-end-rgb)) 40%;
//     z-index: 1;
//   }
// }

// /* Tablet and Smaller Desktop */
// @media (min-width: 701px) and (max-width: 1120px) {
//   .grid {
//     grid-template-columns: repeat(2, 50%);
//   }
// }
