$max-width: 1100px;
$border-radius: 2px;
$font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono", "Roboto Mono", "Oxygen Mono",
  "Ubuntu Monospace", "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

body {
  color: rgb(0,0,0);
  font-family: $font-mono;
  background: #F3F3F3;
}

main {
  padding: 5rem;
  min-height: 100vh;
}

.header,
.footer {
  padding: 2rem;
  position: sticky;
  background-color: #251f21;
  color: #ffffff;
  min-height: 15vh;
  width: 100vw;
}

.header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.navBar {
  display: flex;
  padding: 1rem;
  li {
    padding: 0 1rem;
    font-weight: 100;
  }
}

.shoppingCart {
  cursor: default;
  position: relative;
  padding: 1rem;
  .cartList {
    border-radius: $border-radius;
    padding: 2rem;
    position: absolute;
    top: 3rem;
    right: 0rem;
    width: max-content;
    background-color: rgb(147, 149, 151);
    color: #ffffff;
    font-weight: 500;
    display: none;
  }
  &:hover .cartList{
    display: flex;
    flex-direction: column;
    .cartItem{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem 0;
    }
    button {
      margin-left: auto;
    }
  }
}

.card {
  display: flex;
  flex-direction: column;
  // width: 50%;
  padding: 1rem 1.2rem;
  align-items: center;
  transition: background 200ms, border 200ms;
  h2 {
    font-weight: 600;
    margin-bottom: 0.7rem;
  }
  p {
    margin: 0;
    opacity: 0.6;
    font-size: 0.9rem;
    line-height: 1.5;
    max-width: 30ch;
  }
}

.productDetail {
  display: grid;
  grid-template: 3rem auto 3rem 3rem 3rem/ 1fr 1fr;
  align-items: center;
  .desc {
    width: 75%;
  }
  button {
    width: 25%;
  }
}

.productImage {
  grid-row-start: 1;
  grid-row-end: 6;
}

.productsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  /* width: $max-width; */
  gap: 1rem;
  max-width: 100%;
}

.clientPageTest {
  background-color: aqua;
}

input {
  border: none;
  border-radius: $border-radius;
  font-weight: bold;
  padding: 0.5rem;
  width: 20%;
  margin: 1px 1rem;
}
// /* Mobile */
// @media (max-width: 700px) {

// }

// /* Tablet and Smaller Desktop */
// @media (min-width: 701px) and (max-width: 1120px) {
//   .grid {
//     grid-template-columns: repeat(2, 50%);
//   }
// }
