$max-width: 1100px;
$border-radius: 2px;
$font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
  'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
  'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  border-radius: $border-radius;
  font-weight: bold;
  padding: 0.5rem;
  background-color: #FFFFFF;
  transition: all .2s;
  &:hover {
    background-color: #525659;
    // font-size: larger;
    cursor: pointer;
  }
}

li {
  list-style-type: none;
}

h3, h4 {
  margin-bottom: 2rem;
}

img {
  object-fit: contain;  
}

.lds-ellipsis {
  display: block;
  position: relative;
  width: 80px;
  height: 80px;
  margin: 0 auto;
  div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #000000;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

label {
  line-height: 2;
  text-align: left;
  display: block;

  font-size: 14px;
  font-weight: 200;
}

form {
  > input, textarea, select{
    display: inline-block;
    border: 2px #141418 solid;
    padding: 0.5rem;
    border-radius: 0.25rem;
  }
  > input[type="checkbox"] {
    color: #000000;
  }
  >*:last-child{
    display: block;
    margin-top: 1rem;
  }
  span {
    color: #bf1650;
    &::before {
      display: inline-block;
      margin-left: 1rem;
      content: "⚠";
    }
  }
}

section {
  border-radius: 0.5rem;
  margin: 1rem;
  padding: 1rem;
  height: max-content;
  min-width: 25vw;
  background-color: rgba(255, 255, 255, 0.877);
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  &:hover {
    background-color: rgba(255, 255, 255, 1);
  }
}
.table {
  padding: 1rem;
  th {
    padding: 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
  // > tbody {
  //   tr:nth-child(even) {
  //     background: #eee;
  //   }
  // }
  td {
    padding: 1rem;
  }
}
